<section class="bg-primary min-h-screen py-8">
    <div class="absolute inset-0 bg-cover bg-center bg-no-repeat blur-lg filter" 
    style="background-image: url(https://r2.starticket.cr/cdn-cgi/image/width=1080,quality=80/user_content/event_images/5239-event_page-eb3afc5994098780c51cff5a9bd19e14.png);background-attachment: fixed;">
        
    </div>
    <div class="backdrop-brightness-80 min-h-screen w-full bg-[#292728]/40 ">

        <div class=" grid grid-cols-5 grid-rows-5 gap-4 max-w-5xl mx-auto">
            <div class="col-span-2 row-span-5 bg-secudary aspect-video rounded-2xl">1</div>
            <div class="col-span-3 row-span-3 col-start-3 bg-secudary rounded-2xl ">2</div>
            <div class="col-span-3 row-span-2 col-start-3 row-start-4 bg-secudary rounded-2xl">3</div>
        </div>
        
    
    </div>
</section>